nodered/flows.json
[{"id":"bfc37d63.366c1","type":"tab","label":"TestFlow","disabled":false,"info":""},{"id":"6786138d.bd8fb4","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.19","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"298f3083.4ce188","type":"influxdb","z":"","hostname":"192.168.0.19","port":"8086","protocol":"http","database":"testDB","name":"","usetls":false,"tls":""},{"id":"3e976c1b.48de7c","type":"inject","z":"bfc37d63.366c1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["b83ddba2.ed08d","a0497972.c533b"]]},{"id":"b83ddba2.ed08d","type":"debug","z":"bfc37d63.366c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":280,"wires":[]},{"id":"a0497972.c533b","type":"function","z":"bfc37d63.366c1","name":"","func":"var today = new Date(parseInt(msg.payload));\nvar date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();\nvar time = today.getHours() + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = date+' '+time;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["65b8354.5dd844c"]]},{"id":"65b8354.5dd844c","type":"debug","z":"bfc37d63.366c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":140,"wires":[]},{"id":"faf0830f.0421e","type":"mqtt in","z":"bfc37d63.366c1","name":"","topic":"Test","qos":"2","datatype":"auto","broker":"6786138d.bd8fb4","x":170,"y":380,"wires":[["b83ddba2.ed08d","a0497972.c533b"]]},{"id":"c699d4b4.01d438","type":"mqtt out","z":"bfc37d63.366c1","name":"","topic":"Test","qos":"","retain":"","broker":"6786138d.bd8fb4","x":450,"y":460,"wires":[]},{"id":"4cdc61d9.133618","type":"inject","z":"bfc37d63.366c1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["c699d4b4.01d438"]]},{"id":"b39457f9.a1e8","type":"influxdb out","z":"bfc37d63.366c1","influxdb":"298f3083.4ce188","name":"","measurement":"","precision":"","retentionPolicy":"","x":750,"y":460,"wires":[]}]